<div class="container">
  <%= render "shared/navbar-back" %>
  <div class="d-flex flex-column gap-3">
    <h2 class="page-title">Requests</h2>
    <% @requests.each do |request| %>
      <div class="card d-flex flex-row align-items-center rounded-4 justify-content-between pe-3 overflow-hidden">
        <%= cl_image_tag request.item.photo.key, class: "col-4" %>
        <div class="card-body">
          <h5 class="card-title"><%= request.item.name %></h5>
          <p class="card-text"><%= request.user.name %></p>
        </div>
        <%= link_to "Chat", request_path(request), class: "btn btn-primary rounded-3" %>
      </div>
    <% end %>
  </div>
</div>
