<div class="container" id="request_show">
  <%= render "shared/navbar-back-menu" %>
  <div>
    <h1><%= @request.user.name %></h1>
    <%= turbo_stream_from @request %>
    <%= simple_form_for(@request) do |f| %>
      <div class="d-flex flex-column align-items-center">
        <div class="form-group" data-controller="flatpickr">
          <%= f.input :pickup_date, as: :date, input_html: {data: { controller: "flatpickr" } } %>
        </div>
        <%= f.button :submit, "Select Pickup Date", class: "btn btn-danger text-white" %>
      </div>
    <% end %>
    <div id="messages">
      <% @request.messages.each do |message| %>
        <%= render "messages/message", {message: message} %>
      <% end %>
    </div>
    <div class="my-3 w-100">
      <%= simple_form_for [@request, @message], html: { class: "d-flex align-items-center w-100" } do |f| %>
        <%= f.text_field :content,
        class: "form-control me-2 rounded-3 border-primary bg-white flex-grow-2",
        placeholder: "Enter your message"
    %>
        <%= f.submit "Send", class: "btn btn-primary rounded-3 text-white" %>
      <% end %>
    </div>
  </div>
</div>
</div>
