<div class="container py-5" >
  <div>
    <h1> <%= @request.user.name %> </h1>
    <% @request.messages.each  do |message|%>
      <div class="chat box border rouded d-flex flex-row justify-content-start mb-4" >
        <div  class="p-3 ms-3" style="border-radius: 15px">
          <p> <%= message.content %></p>
          <p> <%= message.created_at.strftime("%b %e, %l:%M %p") %> </p>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4 my-3">
      <%= form_with url: requests_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-pill",
            placeholder: "Enter your message"
        %>
        <%= submit_tag "Send", name: "", class: "btn btn-danger rounded-pill" %>
      <% end %>
    </div>
  </div>
</div>
