<div class="container" id="request_show">
  <%= render "shared/navbar-back-menu" %>
  <div>
    <h1><%= @request.user.name %></h1>
    <%= turbo_stream_from @request %>
    <!-- Calendar -->
    <% if @request.available_times == nil %>
      <%= simple_form_for(@request) do |f| %>
        <div class="d-flex flex-column align-items-center" data-controller="pickup">
          <div class="form-group">
            <%= f.input :pickup_date,
                label: "Select Your Pickup Date",
                as: :string,
                input_html: { data: { controller: "flatpickr" } },
                wrapper_html: { class: "text-center disabled"} %>
          </div>
          <% if @request.pickup_date %>
            <p> <%= @request.user.name %>! The pickup date is on <%= @request.pickup_date %>!</p>
          <% end %>
          <%= f.input :available_times, collection: 8..21, as: :check_boxes  %>
          <%# SELECT PICK UP DATE BUTTON %>
          <%= f.button :submit, "Select Pickup Date",
            class: "btn btn-primary text-white mt-3" %>
          <p class="mt-3 text-success fw-bold" data-pickup-target="message"></p>
        </div>
      <% end %>
    <% elsif @request.pickup_date.hour == 0 && @request.user != current_user %>
      <%# Available times radio buttons %>
      <%= simple_form_for(@request) do |f| %>
        <%= hidden_field_tag :confirm_time, true %>
        <%= f.input :pickup_date, label: "Select pickup time", collection: @request.available_times, as: :radio_buttons %>
        <%= f.submit "Confirm pickup time", class: "btn btn-primary rounded-3 text-white" %>
      <% end %>
    <% else %>
      <h2>Pickup date is: <%= @request.pickup_date.strftime('%D at %H:%M') %></h2>
    <% end %>
    <%# GOOGLE MAPS LOCATION %>
    <div id="messages">
      <% @request.messages.each do |message| %>
        <%= render "messages/message", {message: message} %>
      <% end %>
    </div>
    <div class="my-3 w-100">
      <%= simple_form_for [@request, @message], html: { class: "d-flex align-items-center w-100" } do |f| %>
        <%= f.text_field :content,
        class: "form-control me-2 rounded-3 border-primary bg-white flex-grow-2",
        placeholder: "Enter your message"
    %>
        <%= f.submit "Send", class: "btn btn-primary rounded-3 text-white" %>
      <% end %>
    </div>
  </div>
</div>
</div>
