<div class="container" >
  <div>
    <h1>Request<h1>
        <%= @request.user.name %>
        <% @request.messages.each  do |message|%>
          <%= message.content %>
          <%= message.created_at.strftime("%b %e, %l:%M %p") %>
        <% end %>
  <div class="col-sm-4 my-3">
    <%= form_with url: requests_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-pill",
            placeholder: "Enter your message"
        %>
      <%= submit_tag "Send", name: "", class: "btn btn-danger rounded-pill" %>
    <% end %>
  </div>
      </div>
    </div>
