<div class="container py-5" >
  <div>
    <h1> <%= @request.user.name %> </h1>
    <%= turbo_stream_from @request %>
    <div id="messages">
      <% @request.messages.each  do |message|%>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="form-check form-switch" data-controller="toggle">
      <input class="form-check-input" type="checkbox" value="" id="checkNativeSwitch" switch data-action="change->toggle#changeText">
      <label class="form-check-label" for="checkNativeSwitch" data-toggle-target="label">
        Hold Item
      </label>
    </div>
    <%= simple_form_for(@request) do |f| %>
      <%= f.input :pickup_date, as: :date, html5: true %>
      <%= f.submit "Confirm", class: "btn btn-danger rounded-pill ms-2" %>
    <% end %>
    <div class="col-sm-6 my-3">
      <%= render "messages/form", message: @message, request: @request %>
    </div>
  </div>
</div>
