<div class="container" >
  <div>
    <h1>Request<h1>
        <%= @request.user.name %>
        <% @request.messages.each  do |message|%>
          <%= message.content %>
          <%= message.created_at.strftime("%b %e, %l:%M %p") %>
        <% end %>
  <div class="col-sm-4 my-3">
  <%= simple_form_for :search, url: requests_path, method: :get, html: { class: "d-flex" } do |f| %>
    <%= f.input :query,
          input_html: {
            value: params[:query],
            class: "form-control rounded-pill",
            placeholder: "Enter your message"
          },
          label: false
    %>
    <%= f.button :submit, "Send", class: "btn btn-danger rounded-pill" %>
  <% end %>
</div>
      </div>
    </div>
