<div class="container">
  <%# Navbar %>
  <div class="d-flex justify-content-between align-items-end my-5 mx-3">
    <a href="" class="navbar-link"></a>
    <a href="/items" class="text-primary link-underline-secondary">
      <h1>Mondainai</h1>
    </a>
    <a href="" class="navbar-link">Messages</a>
  </div>
  <%# Navbar end %>
  <div class="row justify-content-center">
    <div class=" mb-3 d-flex">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2 rounded-3",
            placeholder: "Search for an item"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary rounded-3" %>
      <% end %>
    </div>
  </div>
  <h2 class="page-title">Item Search</h2>
  <div class="d-flex flex-wrap justify-content-between row-gap-3">
    <% @items.each do |item| %>
      <a href="#" class="text-decoration-none">
        <div class="card rounded-4 overflow-hidden" style="width: 12rem;">
          <img src=" <%= cl_image_tag item.photo.key %> " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.user.name %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
