<div class="container">
  <%= render "shared/navbar-messages" %>
  <h2 class="page-title">Item Search</h2>
  <div class="row justify-content-center">
    <div class=" mb-3 d-flex">
      <%= form_with url: items_path, method: :get, class: "d-flex flex-row w-100" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2 rounded-3 border-primary bg-white",
            placeholder: "Search for an item"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary rounded-3 text-white" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-between row-gap-3">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="card rounded-4 overflow-hidden shadow-sm" style="width: 11rem;">
          <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key,  class:"card-img-top card-image-height object-fit-cover" %>
          <% else %>
            <%= image_tag 'default-box.svg', class:"card-img-top p-4 card-image-height" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.user.name %></p>
            <p class="card-text"> <%= item.location %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="fixed-bottom d-flex flex-row justify-content-center mx-auto gap-3">
    <%= link_to edit_user_registration_path, style: "width: 80px" do %>
      <div class="d-flex flex-column justify-content-center  px-2 gap-3" width="">
        <%= image_tag("profile-icon.svg") %>
        <p class="mx-auto bg-white text-center w-100 rounded-5">Profile</p>
      </div>
    <% end %>
    <%= link_to new_item_path, style: "width: 80px" do %>
      <div class="d-flex flex-column justify-content-center px-2 gap-3" width="">
        <%= image_tag("new-item-icon.svg") %>
        <p class="mx-auto bg-white text-center rounded-5">Post</p>
      </div>
    <% end %>
  </div>
  <div style="height: 20vh;"></div>
</div>
